python-dotenv
langchain
langchain-core
langchain-fireworks
langchain-google-genai
langchain-mistralai
langchain-openai
langchain-cohere
langchain-anthropic
langsmith
gradio
gradio_client
ipykernel
ipywidgets
